.services__wrap {
  width: 100%;
  margin: 0;
  padding: 26px 20px 0 20px;
  display: flex;
  background: $white;

  &_images {
    min-width: 40px;
    margin-right: 9px;
    padding: 0;
    background: $white;
  }

  &_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background: $white;
  }
}

.services {
  padding-bottom: 26px;

  &__item {


    &_title {
      @include font-sans-bold(18px, 700, 26px);

    }

    &_subtitle {
      @include font-sans(14px, 400, 21px);
    }
  }
}
