.contacts-form {
  background-color: #81b3d2;
  margin-top: 5px;
  margin-bottom: 30px;

  &__title {
    padding-top: 20px;
    @include font-sans-bold(18px, 700, 26px);
  }

  &__input {
    @include font-sans(14px, 400, 26px);
  }
}

.name-input {
  display: flex;

  &__phone {
    margin-top: 12px;
    display: flex;
    flex-direction: column;


    &_label {
      margin-left: -20px;
    }

    &_text {
      width: 222px;
      height: 58px;
      margin-top: 10px;
      padding-left: 20px;
      @include font-sans-bold(18px, 700, 26px);
      text-transform: none;
    }
  }

  &__phone-btn {
    width: 58px;
    height: 58px;
    margin-top: 53px;
    background-color: red;
    border: none;
  }


  &__mail {
    margin-top: 7px;
    display: flex;
    flex-direction: column;

    &_label {
      margin-bottom: 6px;
      margin-left: -35px;
    }

    &_text {
      width: 222px;
      height: 58px;
      padding-left: 20px;
      @include font-sans-bold(18px, 700, 26px);
      text-transform: none;
    }
  }

  &__mail-btn {
    width: 58px;
    height: 58px;
    margin-top: 43px;
    background-color: red;
    border: none;
  }
}
