.contacts-form
{
    margin-top: 5px;
    margin-bottom: 30px;

    background-color: #81b3d2;

    &__title
    {
        padding-top: 20px;

        @include font-sans-bold(18px, 700, 26px);
    }

    &__input
    {
        @include font-sans(14px, 400, 26px);
    }
}

.name-input
{
    display: flex;

    &__phone
    {
        display: flex;
        flex-direction: column;

        margin-top: 12px;

        &_label
        {
            margin-left: -20px;
        }

        &_text
        {
            width: 222px;
            height: 58px;
            margin-top: 10px;
            padding-left: 20px;

            text-transform: none;

            @include font-sans-bold(18px, 700, 26px);
        }
    }

    &__phone-btn
    {
        width: 58px;
        height: 58px;
        margin-top: 53px;

        border: none;
        background-color: red;
    }


    &__mail
    {
        display: flex;
        flex-direction: column;

        margin-top: 7px;

        &_label
        {
            margin-bottom: 6px;
            margin-left: -35px;
        }

        &_text
        {
            width: 222px;
            height: 58px;
            padding-left: 20px;

            text-transform: none;

            @include font-sans-bold(18px, 700, 26px);
        }
    }

    &__mail-btn
    {
        width: 58px;
        height: 58px;
        margin-top: 43px;

        border: none;
        background-color: red;
    }
}
