.emotion
{
    margin-top: 20px;

    background-color: green;

    &__title
    {
        margin-bottom: 15px;

        background-color: inherit;

        @include font-sans-bold(18px, 700, 26px);
    }

    &__textarea
    {
        min-width: 100%;
        max-width: 100%;
        min-height: 160px;
        padding-top: 15px;
        padding-left: 20px;

        text-transform: none;

        border: none;
        background-color: tomato;

        @include font-sans-bold(18px, 700, 26px);
    }
}
