.inner {
  height: 200px;
  position: relative;
  background-image: url("../form/back-desktop.jpg");


  &__logo {
    position: absolute;
    margin: 0;
    top: -20px;
    right: 90px;
  }
}

.menu__btn {
  position: absolute;
  top: 0;
  right: 0;
}
