.impression {
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: green;


  &__title {
    padding-bottom: 25px;
  }

  &__title_headline {
    @include font-sans-bold(18px, 700, 26px);
  }

  &__input {
    background-color: red;
    position: relative;
  }
}

.input-impression {
  &__searh {
    display: flex;
    justify-content: start;

  }
}

.impression__radio {
  @include font-sans-bold(18px, 700, 26px);
  text-transform: none;
  padding-bottom: 34px;
  margin-top: 10px;
  cursor: pointer;


  &_button {
    appearance: none;
    position: absolute;

    &:checked + .impression__radio_text {
      width: 50px;
      height: 50px;
      background-size: 20px 20px;
      background-image: url("../img/form/point.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &_text {

    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $accent;
  }
}
