.container {

  padding: 17px 20px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__logo {
    margin-top: 17px;
    margin-right: 85px;
    position: absolute;
  }

  // &__menu {}
}
