.form {
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 33px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 39px;
  }
}

.form__item {
  padding: 20px 20px 26px;

  border: 1px solid $border;

  @media (min-width: $tablet) {
    padding: 20px 60px 26px;

    border: none;
  }

  @media (min-width: $desktop) {
    padding-right: 120px;
    padding-left: 120px;
  }
}

.form__item h3 {
  @include font-sans-bold(18px, 700, 26px);

  margin: 0;

  @media (min-width: $tablet) {
    font-size: 21px;
    text-align: center;
  }
}

.form__item-name {
  @media (min-width: $tablet) {
    width: 384px;
    padding: 0 60px 0 56px;

    border: none;
    border-left: 1px solid $border;

    @media (min-width: $desktop) {
      width: 540px;
      padding-left: 79px;
    }
  }
}

.form__item-name h3 {
  @media (min-width: $tablet) {
    margin: 0;
    padding-bottom: 52px;

    text-align: left;
  }
}

.form__name {
  padding-top: 18px;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form__name-item {
  display: flex;
  align-items: center;
  padding-bottom: 19px;

  @media (min-width: $tablet) {
    padding-bottom: 21px;
  }

  &:last-child label {
    margin-right: 20px;
    padding-top: 5px;
  }

  &:last-child input {
    padding-left: 18px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.form__label {
  @include font-sans(14px, 400, 24px);

  text-align: left;
  text-transform: uppercase;
}

.form__name-item .form__label {
  margin-right: 12px;

  @media (min-width: $tablet) {
    margin-right: 14px;
  }
}

.form__name-input {
  @media (min-width: $tablet) {
    padding-top: 7px;
  }
}

.form__input {
  @include font-sans-bold(18px, 700, 26px);

  width: 100%;
  height: 58px;
  padding-top: 5px;
  padding-left: 24px;

  text-transform: none;

  background-color: $grayDark;
  border: none;
}

.form__input:hover {
  background-color: $border;
}

.form__input:active {
  background-color: $white;
  border: 4px solid $border;
}

.form__item-contacts {
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    order: 0;
    width: 100%;
    padding-top: 72px;
  }
}

.form__contacts {
  padding-top: 12px;

  @media (min-width: $tablet) {
    padding-top: 16px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    padding-top: 71px;
  }
}

.form__contacts-title {
  @media (min-width: $tablet) {
    position: relative;

    display: flex;
    justify-content: center;
    width: inherit;
    padding-bottom: 25px;
  }
}

.form__contacts-title::before {
  @media (min-width: $tablet) {
    content: "";
    position: absolute;
    top: 10px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: $line;
  }
}

.form__contacts-title h3 {
  @media (min-width: $tablet) {
    position: absolute;

    width: 400px;

    background-color: $white;
  }
}

.form__contacts .form__input {
  padding-top: 4px;
  padding-right: 65px;
  padding-left: 21px;
}

.form__contacts-item {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}

.form__contacts .form__label {
  margin-bottom: 10px;
  padding-left: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 9px;
    padding-left: 22px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding-right: 14px;
    padding-left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 58px;
    height: 58px;

    background-color: #e6e6e6;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form__contacts-mail .form__label {
  &::after {
    background-image: url("../img/mail.svg");
  }
}

.form__contacts-phone {
  @media (min-width: $desktop) {
    width: 400px;
  }
}

.form__contacts-mail {
  @media (min-width: $desktop) {
    width: 478px;
  }
}

.form__desktop {
  @media (min-width: $desktop) {
    display: none;
  }
}

.form__contacts-input {
  @media (min-width: $desktop) {
    width: 316px;
  }
}

.form__item-impression {
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    order: -1;
    width: 384px;
    padding: 0 0 0 60px;
  }

  @media (min-width: $desktop) {
    width: 600px;
    padding-left: 125px;
  }
}

.form__item-impression h3 {
  padding-bottom: 21px;

  @media (min-width: $tablet) {
    padding-bottom: 58px;

    text-align: left;
  }

  @media (min-width: $desktop) {
    padding-left: 75px;
  }
}

.form__impression-item {
  margin-bottom: 18px;

  text-align: left;

  @media (min-width: $tablet) {
    margin-bottom: 26px;
  }
}

.form__impression-item:last-child {
  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.form__impression-radio {
  position: relative;

  cursor: pointer;
}

.form__impression-input+.form__impression-radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 52px;
  height: 52px;

  background-color: $grayDark;
  border-radius: 50%;
}

.form__impression-input:hover+.form__impression-radio::before {
  background-color: $border;

  .form__impression-input:active+.form__impression-radio::before {
    background-color: $radioActive;
  }
}

.form__impression-input+.form__impression-radio::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 17px;

  width: 20px;
  height: 20px;

  background-color: $blackLight;
  border-radius: 50%;
}

.form__impression-input:active+.form__impression-radio::after {
  background-color: rgba($color: $blackLight, $alpha: 0.3);
}

.form__impression-input:not(:checked)+.form__impression-radio::after {
  opacity: 0;
}

.form__impression-input:checked+.form__impression-radio::after {
  opacity: 1;
}

.form__custom-element {
  @include font-sans-bold(18px, 700, 26px);

  position: relative;

  display: inline-block;
  padding-top: 15px;
  padding-bottom: 9px;
  padding-left: 78px;

  text-transform: none;

  cursor: pointer;

  @media (min-width: $tablet) {
    padding-left: 75px;
  }
}

.form__item-visited {
  padding-top: 15px;
  padding-bottom: 28px;

  @media (min-width: $tablet) {
    padding-top: 12px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-left: 3px;
    padding-bottom: 59px;
  }
}

.form__visited-title {
  @media (min-width: $tablet) {
    position: relative;

    display: flex;
    justify-content: center;
    padding-bottom: 95px;
  }
}

.form__visited-title::before {
  @media (min-width: $tablet) {
    content: "";
    position: absolute;
    top: 26px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: $line;
  }
}

.form__item-visited h3 {
  padding-bottom: 21px;

  @media (min-width: $tablet) {
    position: absolute;

    width: 398px;

    text-align: center;

    background-color: $white;
  }
}

.form__visited-container {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 58px 0 71px;
  }

  @media (min-width: $desktop) {
    margin: 0 -33px;
    padding: 0;
  }
}

.form__visited-item {
  position: relative;

  margin-bottom: 30px;

  text-align: left;

  cursor: pointer;

  @media (min-width: $tablet) {
    width: 203px;
    margin: 0 28px 38px;
  }

  @media (min-width: $desktop) {
    margin: 0 21px 0 35px;
  }

  &:last-child {
    margin-bottom: 2px;

    @media (min-width: $desktop) {
      margin-left: 14px;
    }
  }
}

.form__visited-input+.form__visited-check::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 52px;
  height: 52px;

  background-color: $grayDark;
}

.form__visited-input:hover+.form__visited-check::before {
  background-color: $border;
}

.form__visited-input:active+.form__visited-check::before {
  background-color: $radioActive;
}

.form__visited-input+.form__visited-check::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 17px;

  width: 20px;
  height: 20px;

  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__visited-input:active+.form__visited-check::after {
  background-image: url("../img/tick-active.svg");
}

.form__visited-input:not(:checked)+.form__visited-check::after {
  opacity: 0;
}

.form__visited-input:checked+.form__visited-check::after {
  opacity: 1;
}

.form__item-emotion {
  border: none;

  @media (min-width: $tablet) {
    width: 100%;
    padding-top: 12px;

    text-align: center;
  }
}

.form__emotion-title {
  padding-bottom: 14px;

  @media (min-width: $tablet) {
    position: relative;

    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }
}

.form__emotion-title::before {
  @media (min-width: $tablet) {
    content: "";
    position: absolute;
    top: 9px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: $line;
  }
}

.form__emotion-title h3 {
  @media (min-width: $tablet) {
    position: absolute;

    width: 400px;

    background-color: $white;
  }
}

.form__item-emotion textarea {
  @include font-sans-bold(18px, 700, 26px);

  width: 100%;
  min-height: 160px;
  padding: 12px 20px;

  background-color: $grayDark;
  border: none;

  resize: none;

  @media (min-width: $tablet) {
    padding: 15px 20px;
  }

  @media (min-width: $desktop) {
    padding: 20px 20px;
  }
}

.form__item-submit {
  padding-top: 22px;

  border: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.form__submit-btn {
  border: none;

  @media (min-width: $tablet) {
    display: flex;
    width: 324px;
    padding-top: 6px;
    padding-right: 13px;
  }

  @media (min-width: $desktop) {
    width: 480px;
    padding-right: 0;
  }
}

.form__submit-footnote {
  position: absolute;

  visibility: hidden;
  opacity: 0;

  @media (min-width: $tablet) {
    @include font-sans(14px, 400, 21px);

    position: static;

    visibility: visible;
    opacity: 1;
  }
}
