.card
{
    padding: 20px;




    &__title
    {
        display: flex;

        padding-top: 5px;

        &_headline
        {
            @include font-sans (14px, 700, 24px);
        }
    }

    &__autor
    {
        display: flex;

        margin: 0;

        background-color: aqua;

        &_name
        {
            margin: 0;

            text-transform: none;

            @include font-sans (14px, 400, 24px);
        }
    }

    &__like
    {
        display: flex;

        margin-top: 13px;

        background-color: tomato;



        &_sum
        {
            margin: 0;
            padding: 0 0 0 15px;

            text-align: end;

            @include font-sans (14px, 700, 24px);
        }
    }
}
