.question
{
    padding-bottom: 20px;

    &__title
    {
        padding-top: 33px;

        @include font-sans-bold (18px, 700, 26px);
    }
    &__subtitle
    {
        padding: 15px 40px 0 40px;

        @include font-sans (14px, 400, 24px);
    }
}
