.title-catalog {
  &__wrapper {
    padding: 0 60px;

    &__banner {
      @media (min-width: $tablet) {
        height: 270px;
      }

    }

    &__title {}

    &__card {}

    &__question {}

    &__video {}
  }
}

.title {
  padding: 0 20px 20px 25px;


  &__title {
    margin: 0;
    padding: 12px 0 15px 0;

    @include font-sans-bold (18px, 700, 26px);

    @media (min-width: $tablet) {
      @include font-sans-bold (30px, 700, 26px);
      background-color: blue;
    }
  }

  &__subtitle {
    @include font-sans (14px, 400, 24px);
  }
}
