.menu__btn {
  display: block;
  width: 24px;
  height: 21px;
  background-color: $white;
  border: none;
  position: relative;
  cursor: pointer;

  &_burger,
  &_burger::after,
  &_burger::before {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    margin-left: -12px;
    width: 24px;
    height: 4px;
    background-color: $blue;
    content: "";
  }

  .menu__btn_burger::before {
    transform: translateY(9px);
  }

  .menu__btn_burger::after {
    transform: translateY(-9px);
  }
}
