.menu__btn
{
    position: relative;

    display: block;

    width: 24px;
    height: 21px;

    cursor: pointer;

    border: none;
    background-color: $white;

    &_burger,
    &_burger::after,
    &_burger::before
    {
        position: absolute;
        top: 50%;

        width: 24px;
        height: 4px;
        margin-top: -2px;
        margin-left: -12px;

        content: '';

        background-color: $blue;
    }

    .menu__btn_burger::before
    {
        transform: translateY(9px);
    }

    .menu__btn_burger::after
    {
        transform: translateY(-9px);
    }
}
