@mixin center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin font-sans($size, $weight, $lh) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  font-family: "PT sans", "Helvetica", "Arial", sans-serif;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  position: $pos;

  display: $display;
}
