.page-footer {
  margin: 0;

  &__wrapper {
    width: 100%;
    margin: 0;
    padding: 0 40px;
    @include center;
  }

  &__contacts {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 75px 0 35px 0;
    @include font-sans-bold(18px, 700, 26px);
  }

  &__social {
    width: 100%;
  }

  &__copyright {

    width: min-content;
    height: min-content;
    margin: 0 auto;
    padding: 40px 0 23px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.social {
  width: 100%;

  &__list {
    width: 160px;
    margin: 0 auto;
    display: flex;
  }

  &__item {
    width: inherit;
  }

  &__link {
    width: 46px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $blue;
  }
}

.copyright {
  width: min-content;
  height: min-content;

  &__text {
    margin: 0;
    padding-bottom: 5px;
    padding-right: 15px;
    @include font-sans(14px, 400, 26px);
  }

  &__link {
    margin: 0;
  }
}
