.advantages {
  background-color: rgba(0, 0, 255, 0);

  @include center;

  // &__wrapper {
  // }

  &__list {
    @include center;
    flex-direction: column;
  }

  &__item {
    @include center;

    &_blue {
      background-color: $blue;
    }

    &_gray {
      background-color: $gray;
    }
  }

  &__item_title {
    @include center;
    @include title;
  }

  &__item_subtitle {
    @include center;
    @include subtitle;
  }

  // &__item_image {
  // }
}
